# Node modules
/node_modules/

# Build output
/build/

# Firebase configuration (if you don't want to share it in public repos)
firebase.json
.firebaserc

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variable files (if any)
.env
.env.local
.env.development
.env.test
.env.production

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Optional: coverage output from testing (if you use Jest, for example)
/coverage/

# Optional: React Native build files
/android/
/ios/
